# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
*.db
*.sqlite

# Uploaded files
client/uploaded_files/
server/uploaded_files/

# Build artifacts
*.egg-info/
dist/
build/
*.spec

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Nuitka
*.build
icon.icns
